In [1]:
import pandas as pd

dataframes =pd.ExcelFile("Hari Mobile chatbot.xlsx")
telegram_question = pd.read_excel(dataframes, 'telegram question')
alternative_name = pd.read_excel(dataframes, 'alternative name')

In [2]:
alternative_name.head()

      brand     alt
0   samsung      sm
1  motorola    moto
2       lyf     jio
3    huawei   honor
4     nokia  ta, rm

In [3]:
telegram_question.columns

Index(['id', 'question ', 'brand ', 'Unnamed: 3', 'model ', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'intent 1', 'intent 2 ', 'Unnamed: 10'],
      dtype='object')

In [4]:
from fuzzywuzzy import fuzz

class SpellCheck:

    def __init__(self, words_list):
        self.data = words_list
        
        self.data = [i.lower() for i in self.data]
        
        self.data = set(self.data)
        
        self.dictionary = list(self.data)
        
    def check(self, string_to_check):
        
        self.string_to_check = string_to_check

    def suggestions(self):

        string_words = self.string_to_check.split()

        suggestions = []

        for i in range(len(string_words)):
            
            for name in self.dictionary:

                if fuzz.ratio(string_words[i].lower(), name.lower()) >= 75:
                    
                    if string_words[i].lower() != name.lower():
                        if name =="redmi" or name == "mi":
                            name = "xiaomi"
                        suggestions.append({"brand":name.lower(),"alt":string_words[i].lower()})

        return suggestions

    def correct(self):

        string_words = self.string_to_check.split()

        for i in range(len(string_words)):
            
            max_percent = 0

            for name in self.dictionary:

                percent = fuzz.ratio(string_words[i].lower(), name.lower())

                if percent >= 75:
                    
                    if percent > max_percent:
                        
                        string_words[i] = name
                    
                    max_percent = percent
        
        return " ".join(string_words)

/home/viky/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [5]:
all_list = []
for index,row in telegram_question.iterrows():
    words = (row['brand '].split("|"))
    string = (row['question '])
    spell_check = SpellCheck(words)
    spell_check.check(string)
    all_list.extend(spell_check.alternate_match())

In [6]:
ab = pd.DataFrame(all_list)
ab = ab.drop_duplicates()
ac = ab.groupby('brand')['alt'].apply(list)
ad = ac.to_frame()
ad = ad.reset_index()

In [7]:
alternative_name['alt'] = alternative_name['alt'].apply(lambda x: x.split(','))
ae = ad.merge(alternative_name,left_on='brand', right_on='brand')
ae['alt']=ae['alt_x'] + ae['alt_y']
ae = ae [['brand','alt']]
ae['alt'] = ae['alt'].apply(lambda x: ', '.join(map(str, x)))

In [8]:
af = pd.concat([ad, ae]).drop_duplicates(subset='brand',keep=False)
af['alt'] = af['alt'].apply(lambda x: ', '.join(map(str, x)))
ag = pd.concat([ae,af])
ag = ag.reset_index()
ag = ag[['brand','alt']]

In [9]:
ah = pd.concat([alternative_name, ae]).drop_duplicates(subset='brand',keep=False)
ah['alt'] = ah['alt'].apply(lambda x: ', '.join(map(str, x)))
ai = pd.concat([ag,ah])
ai = ai.reset_index()
ai = ai[['brand','alt']]

In [10]:
ai

       brand                                                alt
0      nokia                                nokai, kia, ta,  rm
1       oppo                                         aoppo, cph
2    samsung                                salsun, sumsung, sm
3     xiaomi  mai, red, mui, mix, remix, mi4, mil, mi6, pmi,...
4      honor                                                hoo
5    infinix                                            infinex
6    karbonn                                             karbon
7    oneplus                                           oneplus5
8     realme                              real, realme3, relame
9       sony                                               song
10      vivo                                               vivi
11  motorola                                               moto
12       lyf                                                jio
13    huawei                                              honor
14   realme                                                 rmx
15     apple                                             iphone

In [11]:
ai.to_csv("alternative_name.csv",index=False)